body {
    background-color: #F2F9FE;
}

body::-webkit-scrollbar {
    display: none;
}

.text-purple {
    color: #5755FE;
}

.bg-purple {
    background-color: #5755FE;
}

.btn {
    border: none;
}

header {
    padding: 0 10rem;
}

main {
    padding: 0 10rem;
}

.line {
    background-color: black;
    height: 2px;
}

#home {
    height: 100vh;
}

#home img {
    width: 550px;
}

#about {
    height: 90vh;
}

#about img {
    width: 300px;
}

#detail {
    height: 80vh;
}

#detail img {
    width: 180px;
}

#testimoni {
    height: 100vh;
}

#testimoni img {
    width: 320px;
    box-shadow: 7px 14px 18px 2px rgba(0,0,0,0.75); 
}

#join {
    height: 100vh;
}

#join img {
    width: 650px;
}

input {
    height: 36px;
}

.logo div {
    background-color: #FFF7FC;
    opacity: 0.7;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}
        
.logo div:hover {
    opacity: 1;
    transform: scale(1.2);
}
        
.logo div a {
    display: flex;
    align-items: center;
    justify-content: center;
}
        
.logo a img {
    width: 25px;
}