<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Courses | enCourse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="/style/courses.css">
</head>
<body>
    <header>
        <nav class="navbar mb-5">
            <div>
                <h2 class="fw-bold">en<span class="text-purple">Course</span></h2>
            </div>
            <ul class="d-flex justify-content-center gap-4 list-unstyled fw-bold">
                <li class="d-flex flex-column">
                    <a href="/index.html" class="text-decoration-none">Home</a>
                </li>
                <li>
                    <a href="" class="text-decoration-none">Courses</a>
                    <div class="line w-100"></div>
                </li>
                <li>
                    <a href="/components/partners.html" class="text-decoration-none">Partners</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
        <article id="lessons" class="d-flex flex-column justify-content-around gap-5">
            <section>
                <div>
                    <h1>Effective ways to learn English online</h1>
                </div>
            </section>
            <section class="d-flex justify-content-around">
                <div class="item border border-4 border-primary px-4 w-25 rounded-4">
                    <h2>Learn English Grammar</h2>
                    <p>Master English grammar with free guides!</p>
                    <hr>
                    <p class="fw-bold">about this coures</p>
                    <p class="text-secondary">
                        enCourse Grammar Reference, by language experts, offers clear explanations, helpful examples, and tackles common mistakes. This comprehensive guide covers important English grammar for learners of all levels.
                    </p>
                </div>
                <div class="item border border-4 border-primary px-4 w-25 rounded-4">
                    <h2>English Speaking Practice</h2>
                    <p>Develop fluency with everyday conversation topics</p>
                    <hr>
                    <p class="fw-bold">about this coures</p>
                    <p class="text-secondary"> 
                        Speaking a language is the trickiest but most engaging skill. Don't worry if it's scary at first, with practice and good tips you'll be talking like a pro. This guide offers advice to help you learn a language from home!
                    </p>
                </div>
                <div class="item border border-4 border-primary px-4 w-25 rounded-4">
                    <h2>Master Business English</h2>
                    <p>Learning Business English for your career pays off-literally!</p>
                    <hr>
                    <p class="fw-bold">about this coures</p>
                    <p class="text-secondary">
                        Advance your career with Master Business English classes. Elevate communication skills, negotiation prowess, and professional confidence. Join now for tailored lessons and accelerated success
                    </p>
                </div>
            </section>
        </article>
        <article id="test" class="d-flex align-items-center justify-content-around"> 
            <section>
                <img src="/assets/images/pen.png" alt="">
            </section>
            <section>
                <h1 class="display-4 fw-semibold">Test your English level</h1>
                <p class="text-secondary">Find out your level of grammar with this easy 20-minute <br> English placement test.</p>
                <p class="btn btn-secondary bg-purple">
                    <a href="https://preply.com/en/language-tests/english/questions" class="text-decoration-none text-light">Start the test</a>
                </p>
            </section>
        </article>
    </main>

    <footer class="d-flex flex-column align-items-center bg-purple py-3 text-light fw-bold">
        <div>
            <h3>enCourse</h3>
        </div>
        <div class="mb-3">
            &copy 2024 enCourse. All rights reserved
        </div>
        <div class="logo d-flex gap-2 mb-4">
            <div>
                <a href="https://wa.me/6281260244154">
                    <img src="/assets/logo/whatsapp.svg" alt="logo"/>
                </a>
            </div>
            <div>
                <a href="https://www.instagram.com/hhmdi_/">
                    <img src="/assets/logo/instagram.svg" alt="logo"/>
                </a>
            </div>
            <div>
                <a href="https://github.com/HamdiHarahap">
                    <img src="/assets/logo/github.svg" alt="logo"/>
                </a>
            </div>
        </div>
        <div>
            <p>Created by HamdiHarahap 🚀</p>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>